*{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #fef6f0;
    z-index: 5;
}
.wrapper {
    padding-right: 50px;
    padding-left: 50px;
    max-width: 1540px;
    margin: 0 auto;
    height: 100%;
}
.wrapper_header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.5s;
}

.wrapper_header .menu {
    width: 500px;
    margin-left:10%;
}
.wrapper_header .menu .menu_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header_contacts {
    margin-left:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.free_froze {
    margin-top: 10px;
}
.main_content {
    max-width: 100%;
    
}
.main_content .top {
    width: 100%;
    background: center / cover no-repeat url(image/Background_header.jpg) ;
    height: 500px;
    
}
.main_content .filter_top {
    width: 100%;
    background: center / cover no-repeat url(image/filter.png);
    height: 100%;
}
.main_content .top .filter_top .wrapper_top {
max-width: 1440px;
margin: 0 auto;
}
.top {
    color: white;
}
.content_top {
    position: relative;
    overflow-x: hidden;
    max-width: 500px;
    height: 500px;
}
.slider {
    display: flex;
    flex-direction: row;
    transition: 1s;
    position: absolute;
}
.list_top_content {
    margin-top: 200px;
    min-width: 500px;
    position: relative;
}
.add {
    text-decoration: none;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    overflow: hidden;
    border: 2px solid grey;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    transition: .2s ease-in-out;
    font-family: Montserrat;
    font-weight: bold;
    background-color: white;
}
.add:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .add:hover {
    background: grey;
    color: #fff;
  }
  .add:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }

.list_top_content h1 {
    margin-bottom: 20px;
}
.list_top_content p {
    margin-bottom: 20px;
}
.service
{
  padding-top: 70px;  
}
.head_service {
    text-align: center;
    margin-bottom: 30px;
}
.content_service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}
.content_block_service 
{
text-align: center;
max-width: 300px;
padding: 25px;

}
.content_block_service h4 {
    margin-bottom: 10px;
}
.content_block_service p {
    line-height:1.3em;
}
.content_block_service img {
    border-radius: 10px;
    margin-bottom: 15px;
    max-width: 200px;
    max-height: 200px;
    border: solid 1px grey;
}
.ready_complect {
    padding-top: 80px;
background-color: #fef6f0	;
padding-bottom: 80px;
box-shadow: 0px 0px 4px 0px inset grey;
}
.head_ready_complect {
    max-width: 900px;
    text-align: left;
    margin-bottom: 40px;
}
.content_ready_complect {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.block_content_ready_complect {
    padding: 25px;
    position: relative;
}
.block_content_ready_complect .price {
    position: absolute;
    bottom: 50%;
    left: 0px;
    background-color: white;
    width: 150px;
    height: 100px;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border:solid 1px grey;
    flex-direction: column;
}
.block_content_ready_complect .price p {
    margin-bottom:10px;
}
.block_content_ready_complect img {
    max-width: 100%;
}
.dop_service {
    padding-bottom: 80px;
    padding-top: 80px;
    background: center / cover no-repeat url(image/background_rewiew.jpg);
}
.header_dop_service {
    text-align: center;
    margin-bottom: 80px;
}
.dop_service_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin:0 auto;
}

.block_dop_service_content {
    max-width: 200px;
    margin: 25px;
    padding: 25px;
    border: solid 1px grey;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    background-color: white;
}
.footer {
    max-width: 100%;
    background-color: #fef6f0; ;
}
.footer_content {
    padding-top: 25px;
    padding-bottom:25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.limit-500 {
    max-width: 500px;
}
.link_menu {
	position: relative;
	color: black; 
	cursor: pointer;
	line-height: 1.5; 
	text-decoration: none; 

}
.link_menu:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 1px; 
	background-color: black; 
	content: "";
	transition: width 0.4s ease-out; 
}

.link_menu:hover:after,
.link_menu:focus:after {
	width: 100%; 
}
a {
    text-decoration: none; 
    color: black; 
}
.rewiew {
    padding-bottom: 80px;
    box-shadow: 0px 0px 4px 0px inset black;
    padding-top:80px;
}
.content_rewiew {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.list_rewiew {
    box-shadow: 0px 0px 3px 0px inset black;
    margin: 20px;
    padding:5px;
    height: 250px;
    width: 250px;
}

    

.header_rewiew {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.list_rewiew img {
    width: 100%;
    height: 100%;
}
.active_header_contacts {
    flex-direction: row!important;
    transition: 1s;
    align-items: center!important;
}
.active_header {
    box-shadow: 0px 0px 5px 0px black;
}
.active_free_froze {
    margin-top: 0px;
    margin-left: 10px;
}
.icon_burger {display: none;}
.footer_content img {
    max-width: 20px;
    margin-right: 5px;
}
.footer_content .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.gallery_inst {
    text-align: right;
}
/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 25; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
    
  }
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  /* Модальное содержание/коробка */
  .modal-content {
      position: relative;
    background-color: #fefefe;
    margin: 15% auto; 
    line-height: 1.5em;
    padding: 20px;
    border: 1px solid #888;
    max-width: 430px;
    text-align: center;
    animation-name: animatetop;
    animation-duration: 0.4s
    
  }
  
  /* Кнопка закрытия */
  .close {
      top: 0px;
      right: 10px;
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
@media screen and (max-width:1100px) {
    .menu {
        margin-left: 10px!important;; 
    }
    .wrapper {
        padding-left:15px ;
        padding-right:15px ;
    }
    .head_ready_complect {
        max-width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:1024px)
{
    .wrapper_header .menu {
        position: absolute;
        
        width: 100%!important;
         z-index: -3;
         top:100%;
         margin-left:0px!important;
         height: 0px;
         overflow: hidden;
         transition: 0.3s;
         
    }
     .menu_header {
         
         flex-direction: column!important;
         font-size: 28px;
         
         background-color: #fef6f0;
         box-shadow: 0px 0px 3px 0px inset black;
         
     }
     .logo {
         z-index: 2;
     }
     .header_contacts {
         margin-left: 0;
         z-index: 2;
         flex-direction: row!important;
         flex-wrap: wrap;
     }
     .free_froze {
         margin-top: 0px!important;
         
     }
     .icon_burger 
     {
         display: block;
     }
     .wrapper_header {
         justify-content: space-around!important;
     }
     .burger_active {
         height: 200px!important;
         transition: 0.3s;
     }
     .number {
         margin-right: 10px;
     }
     .active_free_froze {
       margin-left:0px!important;
    }
}
@media screen and (max-width:380px)
{
    .logo {
        display: none;
    }
    .list_menu {
        text-align: center;
    }
    
}
@media screen and (max-width:500px) {
    .limit {
       max-width: 380px;
       text-align: center;
       
       
    }
   .list_top_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    min-width: 380px;
   }
  .content_top {
      max-width: 380px;
      margin: 0 auto;
  }
}
@media screen and (max-width:674px)
{
    .footer_content {
       align-items: center;
       justify-content: center;
       text-align: center;
    }
}
@media screen and (max-width:400px) {
    .limit {
        max-width: 320px;
        text-align: center;
        
        
     }
    .list_top_content {
     
     width: 320px;
     min-width: 320px;
    }
   .content_top {
       max-width: 320px;
       margin: 0 auto;
   }
}
@media screen and (max-width:350px)
{
    .limit {
        max-width: 260px;
        text-align: center;
        
        
     }
    .list_top_content {
     
     width: 260px;
     min-width: 260px;
    }
   .content_top {
       max-width: 260px;
       margin: 0 auto;
   }
}
@media screen and (max-width:768px){
.modal-content {
    margin: 50% auto;
}
}
.arrange {
    text-align: justify;
}
.arrange h3 {
margin-bottom: 30px;
}
.arrange li {
    margin-bottom: 20px;
}
.arrange li:before {
    content: '- ';
}
.arrange p {
    margin-bottom: 20px;
}
.head_service h4 {
    margin: 10px auto;
    max-width: 1000px;
    text-align: center;
}